#page-contato{
    height: 100%;
    background: url(../assets/background.png);
    background-position: 75vw top;
}

    #page-contato .content{
        max-width: 1100px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        height: 100%;
}

    #page-contato img{
        width: auto;
        height: 8em;
    }

#page-contato header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3em;
}   

    #page-contato header a{
        display: flex;
        color: var(--title-color);
        font-weight: 700;
        text-transform: uppercase;
    }

    #page-contato header span{
        display: flex;
        height: auto;
        width: 1.5em;
        margin-right: 1em;
    }

    .playlist-descricao-contato{
        margin: 1em 5em;
        padding: 5em;
    }
    
        .playlist-descricao-contato p{
            color: var(--cinco-color);
            margin-top: .5em;
            font-weight: bold;
            text-align: justify;
        }

.contato{
    margin-top: 3em;
}

    .contato .contato-instrucao{
        margin-top: 1em;
        text-align: center;
        color: var(--cinco-color);
        font-weight: bold;
    }

        .contato .contato-instrucao a{
            color: var(--cinco-color);
        }

    .contato .contato-link{
        text-align: center;
        padding: 1em 1.5em 1em;
        margin-top: 1em;
        margin-bottom: 3em;
    }

    .contato-link img{
        transition: 1s all;
    }

    .contato-link img:hover{
        transform: scale(1.2);
    }


.items-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5em;
    margin-top: 1em;
    margin-bottom: 1em;

}

    .items-grid li{
        background-color: var(--cinco-color);
        opacity: .7;
        list-style: none;
        border-radius: .5em;
        height: 26em;
        padding: 2em 1.5em 1em;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        text-align: center;
    }

    .items-grid img{
        border-radius: 1em;
        filter: grayscale(100%);
        
    }

    .items-grid li img:hover{
        filter: grayscale(0%);
    }

    .items-grid a{
        text-transform: uppercase;
        margin-top: .5em;
        margin-bottom: .3em;
        transition: 1s all;
    }

    .items-grid a:active,
    .items-grid a:hover{
        transform: scale(1.2);
        text-decoration: var(--title-color) underline;
        color: var(--tres-color);
    }

    .items-grid li p{
        flex: 1;
        text-align: justify;
        margin-top: 0.75em;
    }


    footer{
        background-color: var(--quatro-color);
        margin-top: 1em;
        padding: 2em;
        text-align: center;
        color: var(--title-color);
        font-weight: bold;
        line-height: 1.6em;
        font-size: .8em;
    }

/* ANIMAÇÃO */
.bounce-in-top {
	animation: bounce-in-top 1.2s 1 both;
} 

/* ----------------------------------------------
 * Generated by Animista on 2020-6-19 0:5:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 @keyframes bounce-in-top {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }
     