/* PAGINA PLAYLIST */

@media only screen and (max-width: 375px){
    .playlist{
        display: block;
        padding: 3em;
    }

    .playlist-direita,
    .playlist-esquerda{
        display: block;
    }

        .playlist-direita iframe,
        .playlist-esquerda iframe{
            display: block;
            width: 100%;
            margin: auto;
        }

    .playlist-direita .playlist-d-text,
    .playlist-esquerda .playlist-e-text{
        margin-top: 1em;
        text-align: center;
    }

    .playlist-direita .playlist-d-text p,
    .playlist-esquerda .playlist-e-text p{
        margin-bottom: 1em;
        text-align: justify;
        font-weight: normal;
    }
}

/* PAGINA INDEX */
@media only screen and (max-width: 375px){

    #page-home main{
        margin-top: 2em;
    }

        #page-home main a{
            margin-bottom: 7em;
        }
}


/* PAGINA NARRAR É RESISTIR */
@media only screen and (max-width: 375px){
    #modal .content{
        margin: 0 1em;
    }

    #modal .header{
        font-size: .8em;
    }
    
    #modal .field h3, p{
        margin: auto;
    }

    #modal form button{
        margin: 0 7em 5em 6em;
    }

}

